.App {
  text-align: center;
  
}

body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
}

.samplelogo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px; 
  height: auto;
  z-index: -1;
  background-repeat: repeat;
}

/* CSS for StandardPage.js */
.main-container {
  display: grid;
  grid-template-rows: auto 2fr auto;
  height: 100vh;
  overflow-y: auto;
}


