.App {
  text-align: center;
  
}

body {
  margin: 0;
  overflow: hidden;
}

.samplelogo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px; 
  height: auto;
  z-index: -1;
  background-repeat: repeat;
}

/* CSS for StandardPage.js */
.main-container {
  display: grid;
  grid-template-rows: auto 2fr auto;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      border: 0;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
  }
}



