/* .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; 
  padding: 16px;
  overflow-x: auto;
  height: 100vh; 
  box-sizing: border-box;
} */

.wrapper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .container .top > img {
  width: 250px;
  z-index: 100;
  height: 350px;
} 