@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center; /* Centers the image */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typewriter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter p {
  border-right: .15em solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: .15em;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
}

.blink {
  border-right: .15em solid transparent;
}
