.story-container {
    position: relative;
    min-height: 100vh; 
    padding-bottom: 60px; 
    margin-bottom: 20%;
}
.story-content {
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
.titleSection h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: #333;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 13px;
    translate:180%;
    position: absolute;
}

.titleSection h1::after {
    content: ""; 
    position: absolute;
    bottom: -10px;
    left: 47%; 
    transform: translateX(-50%);
    width: 180px;
    height: 3px;
    background-color: #333;
    margin-bottom: 0px;
}     
